@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Arial, sans-serif;
}

@theme {
  --font-inconsolata: 'Inconsolata';
}
